/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f44;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #340ca1;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #0c0606;
    color: #21b16e;
    text-align: center;
    padding: 10px;
  }
  